poc2/src/main/mule/mongo_db_poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d63862c5-f0b5-488f-9b4b-86840dfc8886" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="24fc5857-4fc0-4b36-87c1-0eb4803b4ea1" >
		<mongo:connection database="employee" >
			<mongo:server-addresses >
				<mongo:server-address host="localhost" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<flow name="mongo_db_pocFlow" doc:id="0d832373-a2b3-4358-a50d-e86824dbed28" >
		<http:listener doc:name="Listener" doc:id="88e5c499-3c91-491a-b3cc-857abcff5f02" config-ref="HTTP_Listener_config" path="/mongodb"/>
		<ee:transform doc:name="Transform Message" doc:id="1b0a51ec-e252-446b-9cc9-724778265ec6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestMessage" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="collectionName" ><![CDATA[%dw 2.0
output application/java
---
payload.empDept]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<mongo:collection-exists doc:name="Collection exists" doc:id="df64ab07-cd5e-46c6-b9c4-6bb241a747aa" config-ref="MongoDB_Config" collectionName="vars.collectionNames"/>
		<choice doc:name="Choice" doc:id="59ce3e66-0469-4c48-a1fc-6638c997c493" >
			<when expression="#[payload == false]">
				<mongo:create-collection doc:name="Create collection" doc:id="567df31e-b00b-4034-bc56-42e7bff3365f" config-ref="MongoDB_Config" collectionName="#[vars.collectionName]"/>
				<mongo:insert-document collectionName="#[vars.collectionName]" doc:name="Insert document" doc:id="7428074b-64e6-4dd8-8c80-351cae57b75a" config-ref="MongoDB_Config">
					<mongo:document ><![CDATA[#[vars.requestMessage]]]></mongo:document>
				</mongo:insert-document>
			</when>
			<otherwise >
				<mongo:insert-document collectionName="#[vars.collectionName]" doc:name="Insert document" doc:id="59c60842-8acd-4c37-9341-3fcda3fa09b0" config-ref="MongoDB_Config">
					<mongo:document ><![CDATA[#[vars.requestMessage]]]></mongo:document>
				</mongo:insert-document>
			</otherwise>
		</choice>
	</flow>
</mule>
