src/main/mule/mongo_db_poc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="cdd297ac-a507-43ee-980f-4e6f78da29b5" >
		<file:connection workingDir="C:\csv to mongodb\inbound" />
	</file:config>
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="ba2a884e-a1e7-4907-817c-d5f4fd0193fe" >
		<mongo:connection database="Data" >
			<mongo:server-addresses >
				<mongo:server-address host="localhost" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<flow name="mongo_db_poc1Flow" doc:id="b25f85ac-9e2c-4d7d-839c-409a7b985cf9" >
		<file:listener doc:name="On New or Updated File" doc:id="3f304765-a06a-4c42-ba9b-72faff46cab9" config-ref="File_Config" directory="C:\csv to mongodb\inbound" autoDelete="true">
			<scheduling-strategy >
				<fixed-frequency frequency="5000" />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="9509f085-0150-4c15-a0c6-7f035901b93c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4a3a3062-702d-441c-a7ef-78b4bc34dd56" message="inncoming Document:#[payload]"/>
		<mongo:collection-exists collectionName="customers" doc:name="Collection exists" doc:id="b26b2f91-d590-4177-b831-d6871ef83c48" config-ref="MongoDB_Config" target="customersExist"/>
		<choice doc:name="Choice" doc:id="8bdf9e07-a7a4-4079-b062-9b1f994b3840" >
			<when expression="#[not vars.customersExist]">
				<mongo:create-collection doc:name="Create collection" doc:id="4fce442c-d876-47a7-ba5e-eba8a5e551b1" config-ref="MongoDB_Config" collectionName="customers"/>
			</when>
		</choice>
		<mongo:insert-document collectionName="customers" doc:name="Insert document" doc:id="1e406025-6e5c-462c-9b88-1dc96e1fdbc8" config-ref="MongoDB_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="27d488ea-14e4-4a60-bd75-4a3282161632" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="59393f0e-3e7e-4859-8519-461e83a52c6f" message="MongoDBResponse:#[payload]"/>
	</flow>
</mule>
